version: "3"

services:
  # http://fiplan.localhost:5000/spring -> dockerhost:8081
  # http://fiplan.localhost:5000/struts -> dockerhost:8082
  proxy:
    image: nginx:alpine
    ports:
      - 5000:80
    volumes:
      - ./conf/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./conf/mime.types:/etc/nginx/conf/mime.types:ro
      #- ./conf/proxy.conf:/etc/nginx/proxy.conf:ro
      - ./logs:/etc/nginx/logs